@import 'valiable';

.card-course-item {
    margin-top: 16px;
}

.user-avt {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 8px;
}

// .course-desc{
//     min-height: 250px;
// }

.checkbox-select-all-options {
    margin: 0 10px;
    max-width: 20%;
}
