<div class="search-form mt-4">
    <form method="GET" action="">
        <div class="form-group">
            <label for="search_input">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control" id="search_input"  placeholder="Nhập từ khóa ...">
        </div>

        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>

</div>
